*{
  margin: 0;
}

.App{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  
}

.app__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.app__left{
  flex: 0.9;
}



body{
  background-color: #f5f6fa;
}

.app__stats{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 990px) {
  .App{
    flex-direction: column;
  }
  
}